{% load static %}

<li>
    <article class='post'>
        <a href="{% url "post-detail-page" 'the-mountains' %}">
            <img src="{% static "blog/images/mountains.png" %}" alt="Mountain Hiking">
            <div class='post_content'>
                <h3>
                    Mountain Hiking
                </h3>
                <p>
                    There's nothing like climbing mountains of garbage. God it stinks.
                </p>
            </div>
        </a>
    </article>
</li>