asgiref==3.7.2
Django==5.0
pillow==10.2.0
psycopg==3.1.18
psycopg-binary==3.1.18
setuptools==68.2.2
sqlparse==0.4.4
typing_extensions==4.10.0
wheel==0.41.2
uritemplate==4.1.1
urllib3==2.2.1
whitenoise==6.7.0
gunicorn==22.0.0